<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title></title>
  </head>
  <body>

  <div id="topbar">

  </div>

  <div id="container">
    
    <h1>Import Steam Library</h1>

    <form action="/user/games/import" method="post">
        SteamID: <input type="text" name="steamId" required />
        <button type="submit">Submit</button>
    </form>


    <a href="/user/games/import">Import my Steam Library</a>

  </div>  
  </body>
</html>