<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title></title>
  </head>
  <body>

  <div id="topBar">
    <div id="pageTitle">
      <h1>Login</h1>
    </div>
    <div id="logout">
    <a href="/user/register">Create an Account</a>
    </div>
  </div>

  <div id="container">



    <form action="/user/login" method="post">
    <div>
        Username: <input name="username" required />
        Password: <input type="password" name="password" required />
    </div>
        <button type="submit">Log In</button>
    </form>




  </div>  
  </body>



</html>