<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title></title>
  </head>
  <body>

  <div id="topBar">
    <div id="pageTitle">
      <h1>Add New Game to Library</h1>
    </div>
    <div id="logout">
      <a href="/user/logout">Logout</a>
    </div>
  </div>
  <div id="container">
    

    <form id="entryForm" action="/user/games/new" method="post">
        <div>Game Title <br/> <input type="text" name="title" required /> </div>

        <div>Rating (1-10) <br/> <input type="number" name="rating" min="1" max="10" step="1" required /> </div>

        <div>Image URL (optional) <br/> <input type="URL" name="image" /> </div>
        
        <div>Description <br/><textarea rows="10" cols="50" name="description" form="entryForm" style="overflow:hidden"></textarea><div>

        <button type="submit">Add to Library</button>
    </form>




  </div>  
  </body>
</html>