<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title></title>
  </head>
  <body>


 <div id="topBar">
    <div id="pageTitle">
      <h1>View Game</h1>
    </div>
    <div id="logout">
      <a href="/user/games">Back</a>
    </div>
  </div>
  <div id="container">

  <div id="container">
    
    <div id="entryContainer">

    <% for (game of games) { %>
      <div class="entry">
      <p><%= game.name %></p>
      <img src="http://media.steampowered.com/steamcommunity/public/images/apps/<%= game.appid %>/<%= game.img_logo_url %>.jpg">

      <form action="/user/test/game/<%= game.appid %>" method="get">
            <input class="buttonGreen" type="submit" value="View Details">
      </form>
      </div>


      

    <% } %>

    </div>

  </div>  
  </body>