<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title></title>
  </head>
  <body>

 <div id="topBar">
    <div id="pageTitle">
      <h1>View Game</h1>
    </div>
    <div id="logout">
      <a href="/user/logout">Logout</a>
    </div>
  </div>
  <div id="container">
    
    <h1><%= game.title %></h1>



<div>

        <div class="gameStat" >Rating: <%= game.rating %></div>

        <div class="gameImage">
          <% if (game.img != "") {  %>
              <img src="<%= game.img %>" >
              <% } else { %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png">
              <% } %>
        </div>
        <div class="gameStat">Description: <br/><%- game.description %><div>
         






          <br/>
            <button class="buttonGreen" onclick="goBack()" type="submit" >Back</button>


          <script>
function goBack() {
    window.history.back();
}
</script>
    </div>

  </div>  
  </body>
</html>